<app-navbar></app-navbar>
<section class="container" id="container1">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <h3 class="text-center m-5">Quotes</h3>
  <div
    class="m-5 p-3 border"
    id="quote-box"
    *ngFor="let quote of quotes; let i = index"
  >
    <div
      *ngIf="
        quote.upvote == highest && quote.upvote > 0; 
        then highlight;
        else empty
      "
    ></div>
    <ng-template #highlight>
      <div appHighlight class="p-3">
        <div>
          <div class="d-flex justify-content-between">
            <h4>Author: {{ quote.author }}</h4>
            <app-sidebutton></app-sidebutton>
          </div>

          <p>" {{ quote.text }} "</p>
          <h6>Posted by: {{ quote.uploadedBy }}</h6>
          <div class="durationFromUpload">
            ~ {{ quote.createdOn | timeUploaded }} ago~
            <!-- {{quote.createdOn| date: 'short'}} -->
          </div>
        </div>
        <div class="d-flex votes">
          <div class="upvote m-3 d-flex bg-success">
            <fa-icon
              [icon]="faArrowUp"
              class="btn btn-secondary"
              (click)="upVote(i)"
            ></fa-icon>
            <button class="btn text-white bg-success">
              {{ quote.upvote }}
            </button>
          </div>
          <div class="downvote m-3 d-flex bg-danger">
            <fa-icon
              class="btn btn-secondary"
              [icon]="faArrowDown"
              (click)="downVote(i)"
            ></fa-icon>
            <button class="btn text-white bg-danger ms-2">
              {{ quote.downvote }}
            </button>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary m-3" (click)="showDetails(i)">
            Quote details
          </button>
        </div>

        <div *ngIf="quote.showDetails">
          <app-quote-details
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
          ></app-quote-details>
        </div>
      </div>
    </ng-template>
    <ng-template #empty>
      <div class="p-3">
        <div>
          <div class="d-flex justify-content-between">
            <h4>Author: {{ quote.author }}</h4>
            <app-sidebutton></app-sidebutton>
          </div>

          <p>" {{ quote.text }} "</p>
          <h6>Posted by: {{ quote.uploadedBy }}</h6>
          <div class="durationFromUpload">
            ~ {{ quote.createdOn | timeUploaded }} ago~
          </div>
        </div>
        <div class="d-flex votes">
          <div class="upvote m-3 d-flex bg-success">
            <fa-icon
              [icon]="faArrowUp"
              class="btn btn-secondary"
              (click)="upVote(i)"
            ></fa-icon>
            <button class="btn text-white bg-success">
              {{ quote.upvote }}
            </button>
          </div>
          <div class="downvote m-3 d-flex bg-danger">
            <fa-icon
              class="btn btn-secondary"
              [icon]="faArrowDown"
              (click)="downVote(i)"
            ></fa-icon>
            <button class="btn text-white bg-danger ms-2">
              {{ quote.downvote }}
            </button>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary m-3" (click)="showDetails(i)">
            Quote details
          </button>
        </div>

        <div *ngIf="quote.showDetails">
          <app-quote-details
            [quote]="quote"
            (isComplete)="deleteQuote($event, i)"
          ></app-quote-details>
        </div>
      </div>
    </ng-template>
  </div>

  <p *ngIf="quotes.length > 4">
    There are {{ quotes.length }} quotes on this page
  </p>
</section>
<app-footer></app-footer>
