<div class="dropdown">
  <a class="dropdown" role="button" data-toggle="dropdown">
    <fa-icon
      click=""
      type="button"
      [icon]="faEllipsisV"
      class="btn btn-dark"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
    >
    </fa-icon>
  </a>
  <div class="dropdown-menu">
    <button class="dropdown-item">Upvote Quote</button>
    <button class="dropdown-item">Downvote Quote</button>
    <button class="dropdown-item">Toggle Details</button>
    <button class="dropdown-item">Delete Quote</button>
  </div>
</div>
